body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  color: #202124;
}

#search-container {
  width: 100%;
  height: max-content;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgb(202, 198, 198);
  text-align: center;
}

#search-box {
  padding: 10px;
  width: 600px;
  border-radius: 20px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

#search-button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.button-container input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.header,
.header-links,
.header-advanced-logo,
.header-advanced {
  display: flex;
  align-items: center;
}
.header a,
.header-links a,
.header-advanced-logo a,
.header-advanced a {
  color: black;
  padding: 10px;
  text-decoration: none;
}
.header-advanced {
  background-color: #f1f1f1;
  height: 50px;
}
.header-advanced-logo {
  padding: 10px;
}
.header-advanced-logo img {
  height: 30px;
}
.header-links {
  margin-left: auto;
}

#google-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#header-img:hover {
  text-decoration: underline;
}

#header-advance-search:hover {
  text-decoration: underline;
}

#header-google:hover {
  text-decoration: underline;
}

.advanced-search-container {
  margin: 50px 40px;
}
.advanced-search-container label {
  display: inline-block;
  width: 16%;
  font-size: 20px;
}
.advanced-search-container .whitespace {
  display: inline-block;
  width: 50%;
}
.advanced-search-container .form-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 0;
}
.advanced-search-container .form-group label {
  width: 16%;
  font-size: 14px;
}
.advanced-search-container .form-group input[type="text"] {
  width: 49%;
  padding: 2px 0;
}
.advanced-search-container .form-group .clarification {
  font-size: 11px;
  width: 30%;
  margin-left: 1%;
}
.advanced-search-container .form-group .clarification .monospace {
  font-family: monospace;
}
.advanced-search-container .form-group .right-align {
  width: 50%;
}
